/**
  * Name: Anthony Balfour
  * Date: 6/6/ 2023
  *
  * This stylesheet contains the styling for index.html, the main landing page
  * of the flight reservation website. It styles every section:
  * -navbar, flight detail section, flight suggestions, flight deals, and title of the page
  * footer. There are lightgray borders around most sections, and the overall layout is styled with
  * grid. Other than black and white, an orange color is used.
  */

/* Grid overall styling for entire page */

main {
  height: 92vh;
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(13, 1fr);
  font-family: "Rubik", sans-serif;
}

/* Company name page title */

#company-name {
  grid-column: 9 / span 4;
  grid-row: 3 / span 3;
}

#company-name h1 {
  font-family: "Tilt Warp", "Rubik", cursive, sans-serif;
  font-size: 3rem;
}

/* Flight input information section */

#flight-details {
  grid-column: 2 / span 5;
  grid-row: 2 / span 5;
  border-radius: 5px;
  padding: 10px;
}

#flight-places {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
}

#flight-details h2 {
  font-family: "Tilt Warp", "Rubik", sans-serif;
}

#flight-details button {
  background-color: rgb(230, 156, 20);
  border-radius: 4px;
  border: none;
  padding: 7px;
  cursor: pointer;
  box-shadow: 2px 2px gray;
  transition: all 0.1s;
}

#flight-details button:hover {
  box-shadow: 3px 3px grey;
  color: white;
}

/* Flight suggestions section */

#flight-suggestions {
  grid-row: 8 / span 4;
  grid-column: 2 / span 4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.87rem;
}

#flight-suggestions div {
  width: 95%;
  height: 25%;
  cursor: pointer;
}

#flight-suggestions > p {
  align-self: flex-start;
  margin-left: 15px;
}

#flight-suggestions .flight-card {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}

.flight-card:hover {
  /* border-color: rgb(133, 130, 130); */
  border-width: 2.98px;
  /* transform: translateY(-7px); */
}

.logo {
  object-fit: contain;
  width: 20%;
  height: 50%;
}

/* flight deals */

#flight-deals {
  grid-row: 8 / span 3;
  grid-column: 8 / span 5;
  border-radius: 5px;
}

#deal-flights {
  height: 100%;
}

#flight-deals div {
  height: 100%;
  width: 33%;
  cursor: pointer;
}


#flight-deals > p {
  margin-left: 3px;
  align-self: start;
}

.flight-deal-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  box-sizing: border-box;
}

#flight-deals img:hover {
  transform: scale(1.02);
}

#deal-flights div {
  height: 100%;
  width: 100%;
}

/* Sign in options styling styling */

#sign-in, #create-user {
  white-space: nowrap;
}

#sign-out-message {
  color: rgb(230, 156, 20);
  white-space: nowrap;
  position: absolute;
  left: 40px;
  cursor: default;
  font-size: 0.83em;
}

/* Deal View */

#deal-view {
  height: 70vh;
  width: 60vw;
  position: absolute;
  left: 20%;
  top: 15%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #fff;
  border: 0.5px solid rgb(176, 172, 172);
}

  /* upper left image */

.deal-image {
  position: absolute;
  z-index: 101;
}

#deal-view.hidden {
  display: none;
}

#deal-view span {
  position: absolute;
  right: 9px;
  top: 9px;
  font-size: 1.7rem;
}

#deal-view span:hover {
  cursor: pointer;
  color: teal;
}

#deal-view figure {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
}

.deal {
  border: 1px solid rgb(176, 172, 172);;
  box-sizing: border-box;
}

.deal.details {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
}

.details p {
  margin: 0;
  padding: 0;
}

.details section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 55px;
}

.details h2 {
  align-self: center;
  font-size: 2.5rem;
}

.details hr {
  width: 100px;
}

.details .deal-text {
  text-align: center;
}

.deal.price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 10px;
}

.price div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.price div > * {
  margin: 0;
}

.price p {
  font-size: 4.5rem;
  color: teal;
}

.price button {
  background-color: teal;
  border-radius: 4px;
  border: none;
  padding: 7px;
  cursor: pointer;
  box-shadow: 2px 2px gray;
  transition: all 0.1s;
}

.deal-itinerary {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
}

.itinerary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itinerary img {
  object-fit: cover;
  height: 100%;
  width: 50%;
  border: 2px solid white;
}

#blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(10px); */
  background-color: rgb(197, 194, 194);
  opacity: 0.6;
}

/* #deal-view {
  backdrop-filter: blur(4px);
} */





/* Smaller screen sizes. <950pixels wide. My phone is 300 by 600 */

@media screen and (max-width: 950px) {
  #flight-details {
    padding-top: 0;
  }

  #flight-details h2 {
    font-size: 1.4rem
  }

  #flight-places {
    font-size: 0.9rem;
    gap: 15px;
  }

  #company-name h1 {
    font-size: 2.7rem;
  }

  #nav-links p {
    margin-left: 0;
    margin-right: 15px;
  }

  #nav-links {
    gap: 40px;
  }
}

@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    height: initial;
  }

  #company-name {
    align-self: center;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  nav {
    margin-bottom: 4.2%;
  }

  #flight-details {
    height: 35vh;
  }

  #nav-links p {
    margin-left: 0;
    margin-right: 15px;
  }

  #nav-links {
    gap: 40px;
  }

  #flight-deals img {
    height: 140px;
    max-height: 140px;
  }

  #flight-deals section {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 440px) {

}